/* src/styles/App.css */
@media (max-width: 768px) {
  footer .container > div {
    flex-direction: column;
    text-align: center;
  }
  footer .container > div > div {
    margin-bottom: 1rem;
  }
}
