@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body { background:#000; color:#fff; }

.welcome { background:#000; font-family:"Poppins",sans-serif; }
.text-pink { color:#5a9f68; }
.text-lightgray { color:#ccc; }

.btn-maroon   { background:#550d0e; color:#000; }
.btn-red   { background:#a13842; color:#000; }
.btn-green   { background:#5a9f68; color:#000; }

.btn {
  padding:.75rem 1.5rem;
  border-radius:50px;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:.5px;
  transition:all .3s;
  min-width:150px;
}
.btn-green:hover {
  transform:translateY(-3px);
  color: #5a9f68;
  outline: 3px solid #5a9f68;
  box-shadow:0 6px 15px rgba(0,0,0,.4);
  transition: all 0.3s ease;
}

.btn-maroon:hover {
  transform:translateY(-3px);
  outline: 3px solid #550d0e;
  color: #550d0e;
  box-shadow:0 6px 15px rgba(0,0,0,.4);
  transition: all 0.3s ease;
}

.btn-red:hover {
  transform:translateY(-3px);
  outline: 3px solid #a13842;
  color: #a13842;
  box-shadow:0 6px 15px rgba(0,0,0,.4);
  transition: all 0.3s ease;
}